{% extends "codespeed/base_site.html" %} {% block title %}{{ block.super }}:
About this site{% endblock %} {% block body %}
<div id="sidebar"></div>
<div id="about" class="about_content clearfix">
  <h3>About this site</h3>
  <p>Wasmer Speed center is the main place where we track the speed improvements in the Wasmer runtime compared to other WebAssembly runtimes.</p>
  <p>The runtimes that we compare are:</p>
  <ul>
    <li>Wasmer (dynasm, cranelift and llvm)</li>
    <li>Wasmi</li>
    <li>Chrome's V8</li>
  </ul>
  <p>This site runs on top of Django and Codespeed</p>
  <h3>About the benchmarks</h3>
  <p>The code can be found <a href="https://github.com/wasmerio/wasmer-bench">here</a>.</p>
  <p>Wasmer website: <a href="https://wasmer.io">Wasmer.io</a></p>
  <h3>Contact</h3>
  <p>For problems or suggestions about this website write to: syrus@wasmer.io</p>
</div>
{% endblock %}
